# Получение и предобработка данных. Первичная работа с объектом DataFrame

Этот ноутбук содержит примеры кода для предобработки данных в Python и первичной работе с объектом `DataFrame`.

К основным частям кода мы прописали текстовые пояснения, если же они покажутся недостаточными, пожалуйста, обратитесь к материалам лекции в LMS.

## Предобработка данных с использованием библиотеки `Pandas`

Импорт библиотеки `Pandas` и чтение данных из файла. Чтобы не писать имя библиотеки полностью, мы сократили ее название как `pd`.

**Важно!** Прежде чем выполнять код, загрузите файл `train.csv`.

In [1]:
import pandas as pd

In [107]:
df = pd.read_csv('train.csv')

Выводим первые 5 строк

In [108]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Получаем информацию о данных.

In [7]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Определяем, есть ли в данных пропущенные значения

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Заменяем пропуски в данных на средние значения.

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace = True)

Снова смотрим, есть ли в данных пропущенные значения.

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Проверяем, содержатся ли в данных строки-дубликаты.

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

## Первичная работа с `DataFrame`

В Pandas есть два главных типа данных — `DataFrame` и `Series`. Тип данных `Series` — достаточно простой. Как правило, он передается с помощью списка, состоящего из последовательности каких-то символов.

Создадим `DataFrame`, используя функцию `pd.DataFrame`:

In [ ]:
pd.DataFrame({'Column 1': ['Black', 50], \
          	'Column 2': [155, ['orange','apple']]})
df

  Column 1         Column 2
0    Black              155
1       50  [orange, apple]

### Атрибуты датафрейма

In [31]:
df = pd.read_csv('fruits.csv')

Число измерений датафрейма:

In [32]:
df.ndim

2

Размерность датафрейма:

In [33]:
df.shape

(11, 6)

Число ячеек:

In [ ]:
df.size

66

Информация о названии колонок:

In [ ]:
df.columns

Index(['fruit', 'shop', 'pl', 'Q', 'P', 'total'], dtype='object')

Информация о названии осей:

In [ ]:
df.axes

[RangeIndex(start=0, stop=11, step=1),
 Index(['fruit', 'shop', 'pl', 'Q', 'P', 'total'], dtype='object')]

Типы данных для каждой из колонок:

In [ ]:
df.dtypes

fruit    object
shop     object
pl       object
Q         int64
P         int64
total     int64
dtype: object

### Первичное исследование датафрейма

Для первичного исследования датафрейма будут полезны три функции:
*   `head(n)` — вывод первых *n* строк датафрейма;
*   `tail(n)` — вывод последних *n* строк датафрейма;
*   `describe()` — вывод описательных статистик (только для колонок типа `float` и `int`).

In [ ]:
df.head()

    fruit    shop       pl  Q  P  total
0  lemons  Shop A   online  1  5      5
1  lemons  Shop A   online  2  4      8
2  lemons  Shop A  offline  2  5     10
3  lemons  Shop B   online  3  5     15
4  apples  Shop A   online  3  6     18

In [ ]:
df.tail()

     fruit    shop       pl  Q  P  total
6   apples  Shop A  offline  5  8     40
7   apples  Shop B   online  6  9     54
8   apples  Shop B  offline  7  9     63
9   apples  Shop B  offline  4  3     12
10  apples  Shop A  offline  4  3     12

In [ ]:
df.describe()

               Q          P      total
count  11.000000  11.000000  11.000000
mean    3.727273   5.727273  23.727273
std     1.793929   2.148996  19.733681
min     1.000000   3.000000   5.000000
25%     2.500000   4.500000  11.000000
50%     4.000000   5.000000  15.000000
75%     4.500000   7.000000  32.000000
max     7.000000   9.000000  63.000000

### Индексирование

Чтобы сослаться на конкретную ячейку, нужно сначала сослаться на название колонки, а потом — на индекс строки:
*   `df.column_name[index]`;
*   `df['column_name'][index]`.

Первый способ:

In [ ]:
df.total[0]

5

Второй способ:

In [ ]:
df['total'][0]

5

Пример ссылки на несколько ячеек:

In [ ]:
df['total'][0:2]

0    5
1    8
Name: total, dtype: int64

Два основных способа осуществления срезов:
*   по индексу: `iloc[start:stop:step, start:stop:step]`
*   по лейблу: `loc[start:stop:step, [column_names]]`

Вывод элементов первой строки первого столбца.

Первый способ:

In [ ]:
df.iloc[0,0]

'lemons'

Второй способ:

In [ ]:
df.loc[0,'fruit']

'lemons'

Вывод первых двух строк первых двух столбцов:

In [ ]:
df.iloc[0:2,0:2]

    fruit    shop
0  lemons  Shop A
1  lemons  Shop A

Пример использования метода `loc`:

In [ ]:
df.loc[0:2,['fruit', 'shop']]

    fruit    shop
0  lemons  Shop A
1  lemons  Shop A
2  lemons  Shop A

### Срез по условию

Схема осуществления среза по условию:
`df.loc[condition_2 &/| condition_2 &/|…&/| condition_3]`.


Нужно выбрать транзакции с лимонами на общую стоимость более 8 у. е.:

In [ ]:
df.loc[(df.total > 8) & (df.fruit == 'lemons')]

    fruit    shop       pl  Q  P  total
2  lemons  Shop A  offline  2  5     10
3  lemons  Shop B   online  3  5     15

## Введение в агрегирование и сводные таблицы

**Агрегирование** — обобщение вложенных структур данных.

Агрегирование можно осуществить с помощью метода `groupby()`.
Общая схема может выглядеть так:
`groupby('grouping_variable')['aggregation_variable'].method_aggregation()`

В показанной схеме:
*   `grouping_variable` — переменная группировки;
*   `aggregation_variable` — переменная агрегирования;
*    `method_aggregation()` — метод агрегирования.

Задача — узнать среднюю стоимость покупок фруктов для каждого магазина:

In [ ]:
df.groupby('shop')['total'].mean().reset_index()

     shop      total
0  Shop A  16.714286
1  Shop B  36.000000

Сводные таблицы удобно реализовывать с помощью метода `pivot_table()`.

Задача — получить сумму стоимостей покупок для каждого вида товара в каждом магазине с разбиениями по платформе:

In [ ]:
import numpy as np

pd.pivot_table(df, \
    	values='total', \
    	index=['fruit', 'shop'],\
    	columns=['pl'], \
    	aggfunc=np.sum)

pl             offline  online
fruit  shop
apples Shop A     76.0    18.0
       Shop B     75.0    54.0
lemons Shop A     10.0    13.0
       Shop B      NaN    15.0

**Методы агрегирования:**
*   `count()` — общее число наблюдений
*   `first()`, `last()` — первое и последнее наблюдения
*   `mean()`, `median()` — среднее и медиана
*   `min()`, `max()` — минимум и максимум
*  `std()`, `var()` — стандартное отклонение и дисперсия
*  `mad()` — среднее абсолютное отклонение деление
*  `prod()` — произведение всех наблюдений
*  `sum()` — сумма всех наблюдений

In [12]:
import numpy as np

In [13]:
dqq = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['I', 'II', 'III'])
dqq.loc[0,"I"] = 1
dqq.loc[1,"I"] = 2
dqq.loc[2,"I"] = 3
dqq.loc[3,"I"] = 4
dqq.loc[0,"II"] = 5
dqq.loc[1,"II"] = 6
dqq.loc[2,"III"] = 7
dqq.loc[3,"III"] = 6

In [23]:
dqq = dqq.set_axis([1, 2, 3, 4], axis = 'index')
dqq = dqq.set_axis(['A', 'B', 'C'], axis = 'columns')
dqq['B'].fillna(55, inplace = True)
dqq['C'].fillna(55, inplace = True)

In [24]:
dqq.head()

     A     B     C
1  1.0   5.0  55.0
2  2.0   6.0  55.0
3  3.0  55.0   7.0
4  4.0  55.0   6.0

In [15]:
dqqq = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['I', 'II', 'III'])
dqqq.head()

    I  II  III
0 NaN NaN  NaN
1 NaN NaN  NaN
2 NaN NaN  NaN
3 NaN NaN  NaN

In [25]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

In [27]:
print(fruit)

['lemons' 'lemons' 'lemons' 'lemons' 'apples' 'apples' 'apples' 'apples'
 'apples' 'apples' 'apples']

In [28]:
print(shop)

['Shop A' 'Shop A' 'Shop A' 'Shop B' 'Shop A' 'Shop A' 'Shop A' 'Shop B'
 'Shop B' 'Shop B' 'Shop A']

In [29]:
print(pl)

['online' 'online' 'offline' 'online' 'online' 'offline' 'offline'
 'online' 'offline' 'offline' 'offline']

In [30]:
print(df)

     fruit    shop       pl  Q  P  total
0   lemons  Shop A   online  1  5      5
1   lemons  Shop A   online  2  4      8
2   lemons  Shop A  offline  2  5     10
3   lemons  Shop B   online  3  5     15
4   apples  Shop A   online  3  6     18
5   apples  Shop A  offline  4  6     24
6   apples  Shop A  offline  5  8     40
7   apples  Shop B   online  6  9     54
8   apples  Shop B  offline  7  9     63
9   apples  Shop B  offline  4  3     12
10  apples  Shop A  offline  4  3     12

In [50]:
qq = df.loc[(df.Q > 3) & (shop == 'Shop A')]

In [37]:
qq.head()

     fruit    shop       pl  Q  P  total
5   apples  Shop A  offline  4  6     24
6   apples  Shop A  offline  5  8     40
10  apples  Shop A  offline  4  3     12

In [44]:
qq = df.loc[(df.Q > 3) & (shop == 'Shop A')]
total2 = qq['total'][6]
print(total2)

40

In [55]:
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1)
print(type(s1))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [52]:
fruit_total = df.groupby('fruit')['total'].sum()

In [85]:
print(fruit_total)

fruit
apples    223
lemons     38
Name: total, dtype: int64

In [68]:
fruit_quantity = df.groupby('fruit')['Q'].sum()

In [69]:
print(fruit_quantity)

fruit
apples    33
lemons     8
Name: Q, dtype: int64

In [67]:
lemon_average_price = df.groupby('fruit')['P'].mean()

In [72]:
print(lemon_average_price)

fruit
apples    6.285714
lemons    4.750000
Name: P, dtype: float64

In [88]:
lemon_average_price = lemon_average_price['lemons':]
print(lemon_average_price)

fruit
lemons    4.75
Name: P, dtype: float64

In [59]:
print(lemon_average_price)

fruit
apples    6.285714
lemons    4.750000
Name: P, dtype: float64

In [89]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

qq = df.loc[(df.Q > 3) & (shop == 'Shop A')]
total2 = qq['total'][6]
print(total2)

fruit_total = df.groupby('fruit')['total'].sum()

fruit_quantity = df.groupby('fruit')['Q'].sum()

lemon_average_price = df.groupby('fruit')['P'].mean()
lemon_average_price = lemon_average_price['lemons':]
print(lemon_average_price)

40
fruit
lemons    4.75
Name: P, dtype: float64

In [90]:
qq = df.loc[(df.Q > 3) & (shop == 'Shop A')]
total2 = qq['total'][6]
print(total2)

40

In [94]:
fruit_total = df.groupby('fruit')['total'].sum()
print(fruit_total)

fruit
apples    223
lemons     38
Name: total, dtype: int64

In [95]:
fruit_quantity = df.groupby('fruit')['Q'].sum()
print(fruit_quantity)

fruit
apples    33
lemons     8
Name: Q, dtype: int64

In [93]:
lemon_average_price = df.groupby('fruit')['P'].mean()
lemon_average_price = lemon_average_price['lemons':]

fruit
lemons    4.75
Name: P, dtype: float64

In [96]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)
  
pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']

In [97]:
df.head()

    fruit    shop       pl  Q  P  total
0  lemons  Shop A   online  1  5      5
1  lemons  Shop A   online  2  4      8
2  lemons  Shop A  offline  2  5     10
3  lemons  Shop B   online  3  5     15
4  apples  Shop A   online  3  6     18

In [100]:
pivot = pd.pivot_table(df, values = 'total', index = ['shop'], columns = ['pl'], aggfunc = np.sum)

In [101]:
print(pivot)

pl      offline  online
shop
Shop A       86      31
Shop B       75      69

In [103]:
print(pivot['online']['Shop B'])

69

In [110]:
df_potter = pd.read_csv('Second Wizard War DeadorAliveUpdated.csv')

In [113]:
df_potter.head(50)

,NAME,BLOOD STATUS,Species,GENDER,HOUSE,HAIR COLOR,BOGGART,PATRONUS,Nationality,ALIVE?
0,Harry Potter,Half-blood,Human,Male,Gryffindor,Jet-black,Dementor,Stag,English,Yes
1,Minerva McGonagall,Half-blood,Human,Female,Gryffindor,Black,Lord Voldemort,Cat,Scottish,Yes
2,Kingsley Shacklebolt,Pure-blood,Human,Male,NaN,Bald,NaN,Lynx,British or Irish,Yes
3,Aberforth Dumbledore,Half-blood,Human,Male,NaN,Grey,NaN,Goat,English,Yes
4,Remus Lupin,Half-blood,Werewolf,Male,Gryffindor,Light brown flecked with grey,Fullÿmoon,Wolf,British or Irish,No
5,Kreacher,NaN,House-elf,Male,NaN,White,NaN,NaN,British,Yes
6,Lord Voldemort,Half-blood,Human,Male,Slytherin,Bald,His ownÿcorpse,None,English,No
7,Bellatrix Lestrange,Pure-blood,Human,Female,Slytherin,Black,NaN,None,British,No
8,Fenrir Greyback,NaN,Werewolf,Male,NaN,Grey,NaN,NaN,British,Unknown
9,Nymphadora Tonks,Half-blood,Human,Female,Hufflepuff,Mousy Brown,Losing her abilities,Wolf,British,No
10,Lucius Malfoy,Pure-blood,Human,Male,Slytherin,White-blond,Lord Voldemort,None,British,Yes
11,Pius Thicknesse,Not Muggle-born,Human,Male,NaN,Black and silver,NaN,Non-corporeal,British,Unknown
12,Scabior,Not Muggle-born,Human,Male,Slytherin,NaN,NaN,NaN,British or Irish,No
13,Colin Creeve,Muggle-born,Human,Male,Gryffindor,Mousy,Lord Voldemort,NaN,British or Irish,No
14,George Weasley,Pure-blood,Human,Male,Gryffindor,Red,Lord Voldemort,Magpie,English,Yes
15,Fred Weasley,Pure-blood,Human,Male,Gryffindor,Red,Lord Voldemort,Magpie,English,No
16,Lavender Brown,Pure-blood,Human,Female,Gryffindor,Brown,Bloody eyeball,Non-corporeal,British or Irish,No
17,Ronald Weasley,Pure-blood,Human,Male,Gryffindor,Red,Aragog,Jack Russell terrier,English,Yes
18,Hermione Granger,Muggle-born,Human,Female,Gryffindor,Brown,Failure,Otter,English,Yes
19,Neville Longbottom,Pure-blood,Human,Male,Gryffindor,Blond,Severus Snape,Non-corporeal,British,Yes
20,Horace Slughorn,Not Muggle-born,Human,Male,Slytherin,Bald,NaN,Non-corporeal,British or Irish,Yes
21,Filius Flitwick,Half-breed,Human-Goblin,Male,Ravenclaw,Blond,Lord Voldemort,Non-corporeal,British or Irish,Yes
22,Vincent Crabbe,Pure-blood,Human,Male,Slytherin,Brown,Lord Voldemort,None,British or Irish,No
23,Unknown Male Snatcher,Not Muggle-born,Human,Male,NaN,Reddish,NaN,NaN,NaN,No
24,Oliver Wood,Not Muggle-born,Human,Male,Gryffindor,Brown,Lord Voldemort,NaN,British or Irish,Yes
25,Rubeus Hagrid,Half-breed,Human-Giant,Male,Gryffindor,Black,Lord Voldemort,None,English,Yes
26,Severus Snape,Half-blood,Human,Male,Slytherin,Black,Lord Voldemort,Doe,English,NaN
27,Camelia,Not Muggle-born,Human,Female,NaN,Brown,NaN,NaN,NaN,No
28,Unknown Giant,NaN,Giant,Male,NaN,NaN,NaN,NaN,NaN,No

In [115]:
df_potter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          29 non-null     object
 1   BLOOD STATUS  26 non-null     object
 2   Species       29 non-null     object
 3   GENDER        29 non-null     object
 4   HOUSE         21 non-null     object
 5   HAIR COLOR    27 non-null     object
 6   BOGGART       18 non-null     object
 7   PATRONUS      21 non-null     object
 8   Nationality   26 non-null     object
 9   ALIVE?        28 non-null     object
dtypes: object(10)
memory usage: 2.4+ KB